<div class="loginContainer">
  <div class="loginForm">
    <div class="container">
      <p class="logoText">Logo</p>
    </div>
    <input
      class="credentialInput"
      id="emailInput"
      type="text"
      placeholder="Email"
    />
    <input
      class="credentialInput"
      id="passwordInput"
      type="password"
      placeholder="Password"
    />
    <input class="loginBtn" id="submit" type="button" value="Login" />
    <div class="container">
      <a class="signUpLink" href="#">Sign Up!</a>
    </div>
  </div>
</div>
