<div class="container">
  <div>
    <a
      [routerLink]="['/listing']"
      [routerLinkActive]="['active']"
      class="listing"
    >
      Add a Listing
    </a>
  </div>

  <button (click)="toggleFilters()" class="filterButton">Filter</button>

  <div *ngIf="showFilters" class="filterContainer">
    <label class="filterLabel">
      Price:
      <select (change)="getPriceSort($event)" class="valSelect">
        <option>Price Sort</option>
        <option value="asc">Low to High</option>
        <option value="dsc">High to Low</option>
      </select>
    </label>
    <label class="filterLabel">
      Category:
      <select (change)="getCategorySort($event)" class="valSelect">
        <option>Category Sort</option>
        <option value="clothes">Clothes</option>
        <option value="tech">Technology</option>
        <option value="school">School</option>
      </select>
    </label>
    <input
      type="button"
      class="refreshButton"
      value="Refresh"
      (click)="refreshListings()"
    />
  </div>

  <ng-container *ngIf="items.length > 0; else noItems">
    <div class="containerGrid">
      <div *ngFor="let item of filteredItems" class="itemContainer">
        <img
          [src]="item.image"
          alt="Item Image"
          class="itemAtribute"
          (click)="getListing(item.id)"
        />
        <p class="itemAtribute">Description: {{ item.shortDesc }}</p>
        <p class="itemAtribute">Price: {{ item.price | currency: "USD" }}</p>
        <p class="itemAtribute">Seller: {{ item.seller }}</p>
      </div>
    </div>
  </ng-container>

  <ng-template #noItems>
    <div class="noListingsContainer">
      <p class="noListingsText">No listings found.</p>
    </div>
  </ng-template>
</div>
