<div class="container">
  <a [routerLink]="['/listing']" [routerLinkActive]="['active']" class="listing"
    >Add a Listing</a
  >
  <div class="containerGrid">
    <div class="itemContainer" *ngFor="let item of items">
      <img [src]="item.image" alt="Item Image" class="itemAtribute" />
      <p class="itemAtribute">Description: {{ item.shortDesc }}</p>
      <p class="itemAtribute">Price: {{ item.price | currency: "USD" }}</p>
      <p class="itemAtribute">Seller: {{ item.seller }}</p>
    </div>
  </div>
</div>
