<div class="signUpContainer">
  <div class="signUpForm">
    <div class="container">
      <p class="logoText">Logo</p>
    </div>
    <input
      class="credentialInput"
      id="fnameInput"
      [(ngModel)]="fname"
      type="text"
      placeholder="First Name"
    />
    <input
      class="credentialInput"
      id="lnameInput"
      [(ngModel)]="lname"
      type="text"
      placeholder="Last Name"
    />
    <input
      class="credentialInput"
      id="phoneNum"
      [(ngModel)]="phoneNum"
      type="phone"
      placeholder="(xxx)-xxx-xxxx"
    />
    <input
      class="credentialInput"
      id="emailInput"
      [(ngModel)]="email"
      type="text"
      placeholder="Email"
    />
    <input
      class="credentialInput"
      id="passwordInput"
      [(ngModel)]="password"
      type="password"
      placeholder="Password"
    />
    <input
      class="signUpBtn"
      id="submit"
      type="button"
      value="Sign Up!"
      (click)="signup()"
    />
  </div>
</div>
